/*
Author: Dillon Downey
Date: 02/04/17
*/

/*

CSS imports

*/

@import 'reset.less'; // Import 1st
@import 'generic.less'; // Import 2nd
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); // Import 3rd
@import 'palette.less'; // Import 4th
@import 'mixins.less'; // Import 5th

/*

Mobile Stylesheet

*/

header,
nav,
main,
aside,
footer {
    padding: 1em;
}

h1 {
    text-align: center;
}

h1 {
    .headerFontAttributes(@darkColor;
    1.8em);
}

h2 {
    .headerFontAttributes(@darkColor;
    1.4em);
}

h3 {
    .headerFontAttributes(@darkColor;
    1.1em);
}

h4 {
    .headerFontAttributes(@darkColor;
    .9em);
}

h5 {
    .headerFontAttributes(@darkColor;
    .85em);
}

h6 {
    .headerFontAttributes(@darkColor;
    .75em);
}

p {
    font-size: 1.2em;
    line-height: 125%;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: .5em;
    margin-bottom: .5em;
}

body {
    background-color: @color3;
    .textProperties(@darkColor;
    16px;
    normal;
    "Open Sans",
    Helvetica,
    Arial,
    sans-serif;
    1.75em;
    );
    line-height: 1;
}


.container {
    display: flex;
    flex-flow: row wrap;
    background-color: #CFF09E;
    margin: 2em;
}

header,
nav,
main,
footer {
    flex: 1 100%;
}

nav {
    border-bottom: 1px solid @darkColor;
}

nav,
footer {
    padding: 0;
    background-color: @color1;
    letter-spacing: 1px;
    h2 {
        .textProperties(@color5;
        1.5em;
        bold;
        "Open Sans",
        Helvetica,
        Arial,
        sans-serif;
        1em;
        );
    }
    ul {
        padding: 0;
    }
    li {
        list-style-type: none;
        text-align: center;
        padding: 1em;
        border-bottom: 1px solid @darkColor;
        a {
            text-decoration: none;
            .textProperties(@color4;
            1.5em;
            bold;
            Georgia,
            Helvetica,
            Arial,
            san-serif;
            1em;
            );
        }
    }
}

main {
    display: flex;
    flex-direction: column;
}

aside {
    border-top: 2px solid @darkColor;
    border-bottom: 2px solid @darkColor;
    background-color: #A8DBA8;
    margin: .5em .5em;
}

ol {
    list-style-type: decimal;
    padding-left: 1em;
}

ul {
    list-style-type: disc;
    padding-left: 1em;
}

li {
    line-height: 1.5em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}

/* Index PAGE */

#index_page {
    .index_link {
        background-color: @lightColor;
    }
}

/*

RESUME PAGE

*/

#resume_page {
    .resume_link {
        background-color: @lightColor;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        text-align: center;
        margin: 0 auto;

        td, th {
            vertical-align: middle;
            border: 2px solid @darkColor;
            padding: .5em;
        }

        th {
            background-color: lighten(@color2, 15%);
            font-weight: bold;
            font-size: 1.2em;
        }

        td {
            background-color: @color3;
            font-size: 1em;
        }
    }

    dl {
        border: 1px solid @darkColor;
        background-color: @color3;
        margin-top: .5em;

        div {
            width: 400px;
            margin: 0 auto;
        }
    }

    dt {
        font-weight: bold;
    }

    dt, dd {
        display: inline-block;
        margin: .2em;
    }
}

/*

TABLET STYLESHEET

The following CSS affects all screen sizes larger than 480 pixels wide.

*/

@media only screen and (min-width: 481px) {
    body {
        font-size: 18px;
    }

    nav {

        ul {
            display: inline-flex;
            width: 100%;
            justify-content: space-between;

            li, li:first-of-type {
                border: none;
            }
        }
    }

    main {
        flex-direction: row;
    }

    article {
        width: 70%;
    }
}

/*

DESKTOP STYLESHEET

*/

@media only screen and (min-width: 1025px) {
    body {
        font-size: 20px;
    }
}
